temp**
tmp**
__pycache__/
benchmarks**
results**
cluster_logs/
archived_logs/
logs/
Rplots.pdf
data/*
EBV/
fibertools-rs/
from_pb/
hackathon.code-workspace
ml_data/
models/
.snakemake
CAGE-validation/
EcoGII/
ONT/
archived_logs/
from_pb/
data/
bed-files/
m6a-calling/
revio-training/
training-data/
npz**
validation-data/**
validation_data/**
ipdSummary/**
to_remove/
